<html>
  <body>
    <h1><a href="/">Home</a></h1>
    <form action="/items" method="post">
      Name<input name="name" placeholder="name"><br>
      <button> Submit </button>
    </form>
  </body>
</html>