<% menu = ItemList.new %>

<html>
  <body>
  <h1><a href="/">Home</a></h1>
    <a href="new">New</a>
    <ul>
      <% menu.list_items(@search.to_s).each do |item|%>
        <li><a href="items/<%= menu.find_id(item.name) %>"><%= item.name %></a></li>
      <% end %>
    </ul>
  </body>
</html>