

<html>
  <body>
  <a href="new">New</a>
  <ul>
  <% [Item.new('Channa', '5.95', 'tastes good')].each do |item|%>
    <li><a href="item1"><%= item.name %></a></li>
  <% end %>
  </ul>





  </body>




</html>