<html>
<head>
</head>
  <body>
  <h1><a href="/">Home</a></h1>
  <% if @new_name != nil %>
    <% menu.edit_item(id, @new_name) %>
  <% end %>
  <%= menu.show_item(id)%>
  <br/>
  <a href="/items/<%=id%>/edit">Edit this item</a>
  <form action="/items/<%= id %>/delete" method="post">
    <input type="submit" value="Delete">
  </form>
  </body>
</html>

