<% menu = ItemList.new %>


<html>
  <body>
  <% if @new_name != nil %>
    <% menu.edit_item(@id, @new_name) %>
  <% end %>
  <%= menu.show_item(@id)%>
  <br/>
  <a href="/items/<%=@id%>/edit">Edit this item</a>
  </body>
</html>

